vir
db.sqlite3
.DS_Store
__pycache__
secrets.json
venv
newenv
db_backup.sqlite3
media
mysettings.py
# Ignore all migration files
**/migrations/*.py

# But not the __init__.py file
!**/migrations/__init__.py
